DEBUG=True
SECRET_KEY=rushil
ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:3000
GEMINI_API_KEY=AQ.Ab8RN6KL8CaI2b1iV9OLB_8uQ_hCdqcOh2--HyhyHUGnmNqYMw
DEBUG=True
SECRET_KEY=rushil
ALLOWED_HOSTS=127.0.0.1,localhost

